@page "/prueba"
@using EncuestadorWeb.Data
@using EncuestadorWeb.Models
@inject AppDbContext DbContext
@inject NavigationManager Navigation

<PageTitle>Ejemplo Encuesta</PageTitle>

<div>
  <EditForm Model="@respuestas" OnValidSubmit="AgregarRespuestas">
    @foreach (var pregunta in preguntas)
    {
      <div>
        <h4>@pregunta.Id. @pregunta.Texto</h4>
        <InputRadioGroup @bind-Value="respuestas[pregunta.Id].IdRespuesta">
          @foreach (var opcion in pregunta.Opciones)
          {
            <InputRadio Value="@opcion.Value" id="@($"pregunta{pregunta.Id}_opcion{opcion.Value}")" />
            <label for="@($"pregunta{pregunta.Id}_opcion{opcion.Value}")">@opcion.Texto</label>
            <br>
          }

        </InputRadioGroup>
      </div>
      <br>
    }
    <button type="submit">Guardar</button>
  </EditForm>
</div>

@code {

  private Dictionary<int, EncuestaRespuesta> respuestas = new();
  public int IdEncuesta = 18, IdCalificacion = 5, IdUsuario = 3;
  public string Observaciones = "N/A";


  private List<Pregunta> preguntas = Enumerable.Range(166, 25).Select((i, index) => new Pregunta
  {
    Id = i,
    Texto = "Si tuviers una taza en tu propiedad, ¿Que eliges?",
    Opciones = new List<Opcion> {
      new Opcion { Value = 1, Texto = "Quedarte con la taza" },
      new Opcion { Value = 2, Texto = $"Vender la taza por {20 * (index + 1)} pesos" },
      } 
  }).ToList();

  protected override void OnInitialized()
  {
    respuestas = preguntas.ToDictionary(p => p.Id, p => new EncuestaRespuesta
    {
      IdPregunta = p.Id,
      IdEncuesta = IdEncuesta,
      IdCalificacion = IdCalificacion,
      IdUsuario = IdUsuario,
      Observaciones = Observaciones
    });
  }

  private async Task AgregarRespuestas()
  {
    DbContext.EncuestaRespuestas.AddRange(respuestas.Values);
    await DbContext.SaveChangesAsync();
    Navigation.NavigateTo("/");
  }

  public class Pregunta
  {
    public int Id { get; set; }
    public string Texto { get; set; }
    public List<Opcion> Opciones { get; set; }
  }

  public class Opcion
  {
    public int Value { get; set; }
    public string Texto { get; set; }
  }


}